
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lamb{
  background: url(https://i.pinimg.com/originals/19/26/db/1926db7fe08ccdf816a39231e2853a08.jpg);
}

h1{
  color: rgb(134, 12, 12);
  
}

.Card{
  width: 1500px;
  
}

